<div id="content-wrapper" class="container-fluid" ng-init="search(' ')">
    <div class="row">

        <div  class="col-md-6">
            <div class="main-trending col-md-5 food-content text-center panel panel-default card">
            	<form id="addInventory" ng-submit="addInventoryItem()">Inventory <br />
					<input type="text" name="item" placeholder="item" ng-model="item">
					<input type="number" name="qty" placeholder="quantity" ng-model="qty">
					<input type="text" name="uom" placeholder="unit of measure" ng-model="uom">
					<input type="submit">
				</form>
       
            </div>
        </div>

        <div class="col-col-md-6">
            <div class="col-md-12 text-center panel panel-default trending">
				<table border="1" style="margin-top: 10px;">
			        <thead>
			            <th><a href="" ng-click="sortField='name'; reverse = !reverse">Item</a></th>
			            <th>Quantity</th>
			            <th>Unit of Measure</th>
			        </thead>
			        <tr ng-repeat="inventoryItem in inventory track by $index | filter:sortInput | orderBy:sortField:reverse">
			            <td><a href="" ng-click="">{{inventoryItem.item}}</a></td>
			            <td>{{inventoryItem.qty}}</td>
			            <td>{{inventoryItem.uom}}</td>
			        </tr>
			    </table>
              
            </div>
        </div>

    </div>
</div>