@import url(http://fonts.googleapis.com/css?family=Roboto);
/* line 1, ../../tools/compass/sass/style.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  background-color: gray;
}

/* line 9, ../../tools/compass/sass/style.scss */
.navbar-default .navbar-nav > li > a {
  color: #8a1617;
}

/* line 15, ../../tools/compass/sass/style.scss */
.food-content, .trending {
  height: 520px;
}

/* line 19, ../../tools/compass/sass/style.scss */
.food-content {
  margin-left: 30px;
}

/* line 24, ../../tools/compass/sass/style.scss */
.main-trending img {
  width: 80%;
}

/* line 29, ../../tools/compass/sass/style.scss */
.trending {
  margin-right: 30px;
}
/* line 32, ../../tools/compass/sass/style.scss */
.trending img {
  width: 100%;
}

/* line 37, ../../tools/compass/sass/style.scss */
.panel {
  margin-bottom: 10px;
  position: relative;
  top: 250px;
  padding: 10px 0;
  margin-left: 40px;
}

/* line 45, ../../tools/compass/sass/style.scss */
.main-wrapper {
  background-image: url("../img/headertex2.jpg");
  height: 25vh;
  padding: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

/* line 55, ../../tools/compass/sass/style.scss */
.logo {
  width: 30%;
  position: relative;
  top: 20px;
  left: 0px;
  z-index: 1;
}

/* line 63, ../../tools/compass/sass/style.scss */
.icon {
  position: absolute;
  top: -3px;
  right: 0px;
  width: 150px;
  height: 150px;
  z-index: 1;
}

/* line 72, ../../tools/compass/sass/style.scss */
.navbar.navbar-default {
  position: absolute;
  top: 0px;
  width: 100%;
  margin-bottom: 0px;
  z-index: 1;
}

/* line 80, ../../tools/compass/sass/style.scss */
.logo-banner {
  float: left;
  width: 35%;
}

/* line 85, ../../tools/compass/sass/style.scss */
.reg-up {
  position: relative;
  left: 390px;
  top: 30px;
}

/* line 91, ../../tools/compass/sass/style.scss */
.sign-up-text {
  margin-left: 70px;
}

/* line 95, ../../tools/compass/sass/style.scss */
legend {
  padding: 6px;
  margin-bottom: 10px;
  font-size: 35px;
}

/* line 101, ../../tools/compass/sass/style.scss */
.reg-control {
  margin-bottom: 10px;
}

/* line 105, ../../tools/compass/sass/style.scss */
.signup-btn {
  background-color: #8a1617;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  border: 0px;
}

/* line 112, ../../tools/compass/sass/style.scss */
.signup-btn:hover {
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: #db2427;
}

/* line 117, ../../tools/compass/sass/style.scss */
.navbar-form input.form-control {
  width: 350px;
}

@media screen and (max-width: 768px) {
  /* line 122, ../../tools/compass/sass/style.scss */
  .logo {
    width: 40%;
  }

  /* line 126, ../../tools/compass/sass/style.scss */
  .navbar-form input.form-control {
    width: 280px;
  }

  /* line 130, ../../tools/compass/sass/style.scss */
  .btn-default {
    float: right;
    position: absolute;
    top: 18px;
    left: 290px;
  }
}
/* line 138, ../../tools/compass/sass/style.scss */
.bottom-search {
  width: 520px;
  position: relative;
  top: 90px;
  box-shadow: 0px;
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
  z-index: 2;
}
/* line 147, ../../tools/compass/sass/style.scss */
.bottom-search .search-bar {
  background-color: transparent;
  border: none;
  border-color: transparent;
  box-shadow: 0px;
  border-top: 0px;
}

/* line 156, ../../tools/compass/sass/style.scss */
#search-wrapper {
  height: 20vh;
  background-image: url("../img/headertex2.jpg");
  position: relative;
  z-index: 1;
}

/* line 163, ../../tools/compass/sass/style.scss */
.dropdown-menu {
  min-width: 167px;
}

/* line 167, ../../tools/compass/sass/style.scss */
.navbar-default .navbar-form {
  border-color: transparent;
}

/* line 171, ../../tools/compass/sass/style.scss */
.navbar-form, .search-wrapper {
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
  -webkit-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.1), 0 0px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.1), 0 0px 0 rgba(255, 255, 255, 0.1);
}

/****** LOGIN MODAL ******/
/* line 182, ../../tools/compass/sass/style.scss */
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

/* line 195, ../../tools/compass/sass/style.scss */
.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

/* line 202, ../../tools/compass/sass/style.scss */
.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

/* line 209, ../../tools/compass/sass/style.scss */
.loginmodal-container input[type=text],
input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 226, ../../tools/compass/sass/style.scss */
.loginmodal-container input[type=text]:hover,
input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* line 235, ../../tools/compass/sass/style.scss */
.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  /* border-radius: 3px; */
  /* -webkit-user-select: none;
user-select: none; */
}

/* line 248, ../../tools/compass/sass/style.scss */
.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #8a1617;
  padding: 17px 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

/* line 262, ../../tools/compass/sass/style.scss */
.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: #db2427;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

/* line 271, ../../tools/compass/sass/style.scss */
.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

/* line 281, ../../tools/compass/sass/style.scss */
.login-help {
  font-size: 12px;
}
