@import url(http://fonts.googleapis.com/css?family=Roboto);
/* line 1, ../../tools/compass/sass/style.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  background-color: lightgray;
}

/* line 7, ../../tools/compass/sass/style.scss */
#logged-in-info {
  float: left;
  margin-left: 30px;
}

/* line 12, ../../tools/compass/sass/style.scss */
img.mouth {
  float: left;
  width: 8%;
  margin-right: 10px;
}

/* line 18, ../../tools/compass/sass/style.scss */
.close {
  position: relative;
  top: -10px;
  right: -5px;
}

/* line 24, ../../tools/compass/sass/style.scss */
.search-bar {
  max-width: 470px;
}

/* line 27, ../../tools/compass/sass/style.scss */
.close.login-close {
  position: relative;
  top: -20px;
  right: -15px;
}

/* line 33, ../../tools/compass/sass/style.scss */
.panel-default {
  border-color: #3b2f12;
}

/* line 37, ../../tools/compass/sass/style.scss */
.navbar-default .navbar-nav > li > a {
  color: #8a1617;
}

/* line 41, ../../tools/compass/sass/style.scss */
.navbar-nav > li > .dropdown-menu {
  margin-top: -1px;
}

/* line 45, ../../tools/compass/sass/style.scss */
.container-fluid {
  padding: 0px;
}

/* line 49, ../../tools/compass/sass/style.scss */
.food-content {
  min-height: 680px;
  margin-bottom: 65px;
}

/* line 55, ../../tools/compass/sass/style.scss */
.main-trending img {
  width: 20%;
}

/* line 60, ../../tools/compass/sass/style.scss */
.panel {
  margin-bottom: 20px;
  position: relative;
  top: 250px;
  padding: 10px 10px;
  margin-left: 40px;
  background-image: url("../img/recipecard.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 71, ../../tools/compass/sass/style.scss */
.main-wrapper {
  padding: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

/* line 83, ../../tools/compass/sass/style.scss */
.food-image img {
  width: 100%;
  height: 250px;
  border: 3px solid #3b2f12;
  border-radius: 5px;
  margin-top: 3%;
}

/* line 92, ../../tools/compass/sass/style.scss */
.ing-list {
  width: 50%;
  float: left;
}

/* line 100, ../../tools/compass/sass/style.scss */
.logo {
  width: 30%;
  position: relative;
  top: 20px;
  left: 0px;
  z-index: 1;
}

/* line 108, ../../tools/compass/sass/style.scss */
.icon {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 150px;
  height: 150px;
  z-index: 1;
}

/* line 117, ../../tools/compass/sass/style.scss */
.navbar.navbar-default {
  position: fixed;
  top: 0px;
  width: 101%;
  margin-bottom: 0px;
  z-index: 1;
}

/* line 125, ../../tools/compass/sass/style.scss */
.logo-banner {
  float: left;
  width: 35%;
}

/* line 137, ../../tools/compass/sass/style.scss */
.sign-up-text {
  margin-left: 70px;
}

/* line 141, ../../tools/compass/sass/style.scss */
legend {
  padding: 6px;
  margin-bottom: 10px;
  font-size: 35px;
}

/* line 147, ../../tools/compass/sass/style.scss */
.reg-control {
  margin-bottom: 10px;
}

/* line 151, ../../tools/compass/sass/style.scss */
.signup-btn {
  background-color: #8a1617;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  border: 0px;
}

/* line 158, ../../tools/compass/sass/style.scss */
.signup-btn:hover {
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: #db2427;
}

/* line 163, ../../tools/compass/sass/style.scss */
.navbar-form input.form-control {
  width: 350px;
}

@media screen and (max-width: 768px) {
  /* line 168, ../../tools/compass/sass/style.scss */
  .logo {
    width: 40%;
  }

  /* line 172, ../../tools/compass/sass/style.scss */
  .navbar-form input.form-control {
    width: 280px;
  }

  /* line 176, ../../tools/compass/sass/style.scss */
  .btn-default {
    float: right;
    position: absolute;
    top: 18px;
    left: 290px;
  }

  /* line 183, ../../tools/compass/sass/style.scss */
  .panel {
    margin-bottom: 20px;
    margin-left: 0px;
    top: 210px;
  }

  /* line 188, ../../tools/compass/sass/style.scss */
  .search-bar {
    top: 140px;
  }

  /* line 192, ../../tools/compass/sass/style.scss */
  #logged-in-info {
    padding-top: 0px;
  }
}
/* line 197, ../../tools/compass/sass/style.scss */
.bottom-search {
  width: 520px;
  position: absolute;
  margin-left: -260px;
  left: 50%;
  top: 90px;
  box-shadow: 0px;
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
  z-index: 2;
}
/* line 208, ../../tools/compass/sass/style.scss */
.bottom-search .search-bar {
  background-color: transparent;
  border: none;
  border-color: transparent;
  box-shadow: 0px;
  border-top: 0px;
}

@media screen and (max-width: 550px) {
  /* line 218, ../../tools/compass/sass/style.scss */
  .bottom-search {
    width: 320px;
    margin-left: 0;
    left: 10px;
  }
}
/* line 225, ../../tools/compass/sass/style.scss */
#search-wrapper {
  min-height: 150px;
  background-image: url("../img/headertex2.jpg");
  border-bottom: 3px solid #8a1617;
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* line 234, ../../tools/compass/sass/style.scss */
.dropdown-menu {
  min-width: 167px;
}

/* line 238, ../../tools/compass/sass/style.scss */
.navbar-default .navbar-form {
  border-color: transparent;
}

/* line 242, ../../tools/compass/sass/style.scss */
.navbar-form, .search-wrapper {
  border-top: 0px solid transparent;
  border-bottom: 0px solid transparent;
  -webkit-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.1), 0 0px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.1), 0 0px 0 rgba(255, 255, 255, 0.1);
}

/****** LOGIN MODAL ******/
/* line 253, ../../tools/compass/sass/style.scss */
.modal-dialog {
  margin-top: 25vh;
}

/* line 257, ../../tools/compass/sass/style.scss */
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

/* line 270, ../../tools/compass/sass/style.scss */
.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

/* line 277, ../../tools/compass/sass/style.scss */
.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

/* line 284, ../../tools/compass/sass/style.scss */
.loginmodal-container input[type=text],
input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 301, ../../tools/compass/sass/style.scss */
.loginmodal-container input[type=text]:hover,
input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* line 310, ../../tools/compass/sass/style.scss */
.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  /* border-radius: 3px; */
  /* -webkit-user-select: none;
user-select: none; */
}

/* line 323, ../../tools/compass/sass/style.scss */
.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #8a1617;
  padding: 17px 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

/* line 337, ../../tools/compass/sass/style.scss */
.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: #db2427;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

/* line 346, ../../tools/compass/sass/style.scss */
.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

/* line 356, ../../tools/compass/sass/style.scss */
.login-help {
  font-size: 12px;
}

/* line 368, ../../tools/compass/sass/style.scss */
body > .inner {
  display: none;
}

/* line 372, ../../tools/compass/sass/style.scss */
body.pg-loaded > .inner {
  display: block;
}

/* line 375, ../../tools/compass/sass/style.scss */
.sk-circle {
  margin: 100px auto;
  width: 80px;
  height: 80px;
  position: relative;
}

/* line 381, ../../tools/compass/sass/style.scss */
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/* line 388, ../../tools/compass/sass/style.scss */
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #fd9504;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

/* line 399, ../../tools/compass/sass/style.scss */
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

/* line 403, ../../tools/compass/sass/style.scss */
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

/* line 407, ../../tools/compass/sass/style.scss */
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 411, ../../tools/compass/sass/style.scss */
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

/* line 415, ../../tools/compass/sass/style.scss */
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

/* line 419, ../../tools/compass/sass/style.scss */
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 423, ../../tools/compass/sass/style.scss */
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

/* line 427, ../../tools/compass/sass/style.scss */
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

/* line 431, ../../tools/compass/sass/style.scss */
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 435, ../../tools/compass/sass/style.scss */
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

/* line 439, ../../tools/compass/sass/style.scss */
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

/* line 443, ../../tools/compass/sass/style.scss */
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

/* line 446, ../../tools/compass/sass/style.scss */
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

/* line 449, ../../tools/compass/sass/style.scss */
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

/* line 452, ../../tools/compass/sass/style.scss */
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

/* line 455, ../../tools/compass/sass/style.scss */
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

/* line 458, ../../tools/compass/sass/style.scss */
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

/* line 461, ../../tools/compass/sass/style.scss */
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

/* line 464, ../../tools/compass/sass/style.scss */
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

/* line 467, ../../tools/compass/sass/style.scss */
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

/* line 470, ../../tools/compass/sass/style.scss */
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

/* line 473, ../../tools/compass/sass/style.scss */
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* line 497, ../../tools/compass/sass/style.scss */
#profile {
  border: 2px solid black;
  background-image: url("../img/recipecard2.jpg");
}

/* line 502, ../../tools/compass/sass/style.scss */
#user-profile {
  margin-top: 15px;
  text-align: center;
}

/* line 506, ../../tools/compass/sass/style.scss */
#favs {
  margin-top: 55px;
}

/* line 510, ../../tools/compass/sass/style.scss */
#favs p {
  background-color: black;
  height: 30px;
  text-align: center;
  margin-top: 20px;
  margin-left: 80px;
  color: white;
}
/* line 517, ../../tools/compass/sass/style.scss */
#favs p a {
  color: white;
}

/* line 522, ../../tools/compass/sass/style.scss */
#links {
  margin-top: 40px;
  margin-left: 100px;
  text-align: center;
  height: 250px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 15px;
  width: 200px;
}

/* line 534, ../../tools/compass/sass/style.scss */
#links p {
  margin-top: 10px;
}

/* line 538, ../../tools/compass/sass/style.scss */
#inventory {
  background-color: gainsboro;
  text-align: center;
  margin-top: 25px;
  margin-left: 25px;
  border: 2px solid black;
}

/* line 547, ../../tools/compass/sass/style.scss */
#add-inv {
  margin-top: 55px;
}

/* line 551, ../../tools/compass/sass/style.scss */
#inv-items {
  margin-top: 40px;
}

/* line 555, ../../tools/compass/sass/style.scss */
#favorites {
  background-color: gainsboro;
  text-align: center;
  margin-top: 25px;
  margin-left: 28px;
  border: 2px solid black;
  min-height: 215px;
}

/* line 565, ../../tools/compass/sass/style.scss */
#add-fav {
  margin-top: 52px;
}

/* line 569, ../../tools/compass/sass/style.scss */
#fav-items {
  margin-top: 40px;
}

/* line 573, ../../tools/compass/sass/style.scss */
.custab {
  border: 1px solid black;
  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px black;
  transition: 0.5s;
}

/* line 580, ../../tools/compass/sass/style.scss */
.custab:hover {
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}
