


<div id="content-wrapper" class="container" ng-init="search(' ')">
    <div class="row">

        <div  class="col-md-12">
            <div class="main-trending col-md-5 food-content text-center panel panel-default card ng-cloak" ng-repeat="recipe in recipes | orderBy: sgSortOrder">
                <a href="{{ createRecipeUrl(recipe.recipeId) }}">
                    <img ng-src="{{ recipe.largeImageURL }}">
                </a>

                <h3>{{ recipe.recipeName }}</h3>
                  <!-- <h3><a href="{{ createRecipeUrl(recipe.recipeId) }}" >{{ recipe.recipeName }}</a></h3> -->
                <div> Ready In: {{recipe.prepTime }}</div>
                <div class="{{ recipe.rating }}">Rating: {{recipe.rating}}</div>
           <!--      <a href="">{{ recipe.sourceDisplayName }}</a>   -->
            </div>
        </div>
    </div>
</div>      
<div id="content-wrapper" class="container-fluid" ng-init="search(' ')">
    <div class="row">
        <div class="col-md-2">
            <div class="col-md-12 text-center panel panel-default trending" ng-repeat="recipe in recipes">
               <a href="{{ createRecipeUrl(recipe.recipeId) }}">
                    <img ng-src="{{recipe.largeImageURL}}">
                </a>

                <h3><a href="{{ createRecipeUrl(recipe.recipeId) }}" >{{ recipe.recipeName }}</a></h3>
                <div> Ready In: {{recipe.prepTime }}</div>
                <div class="{{ recipe.rating }}">Rating: {{recipe.rating}}</div>
                <a href="">{{ recipe.sourceDisplayName }}</a>
            </div>
        </div>

    </div>
</div>



